
body {
  font-family: 'Recursive', sans-serif;
  font-size: 12pt;
  color: #D1CBC7;
  background-color: #222425;
}

a {
  color: #20C000;
  text-decoration: none;
}

a:visited {
  color: #209000;
}

hr {
  border: 0;
  border-bottom: 1px solid #D1CBC7;
}

li {
  list-style: square;
}

#footer .email {
  color: gray;
}

.icon {
  filter: invert(80%);
}

/* Markdown Elements Styling */


/* Code Block */

#content code {
  font-family: 'IBM Plex Mono', ui-monospace, monospace;
}

#content .codehilite {
  background-color: #203008;
}

#content pre {
  color: #C8C0BC;
  background-color: #203008;
  border: 1px solid #7AB21A;
  border-radius: 6px;
}

#content code:not(pre > code) {
  color: #C8C0BC;
  background-color: #203008;
  border-radius: 6px;
}

/* Project List Entries (Main Index) */

.project {
  border: 1px solid #D1CBC7;
}

.project h2 {
  color: #D1CBC7;
}

/* News Entry */

#content h5 {
  background-color: lightgrey;
}

#content .entry em {
  color: #2C3539;
}

