
body {
  font-family: 'Recursive', sans-serif;
  font-size: 12pt;
}

a {
  color: #209000;
  text-decoration: none;
}

a:visited {
  color: #206000;
}

hr {
  border: 0;
  border-bottom: 1px solid #000000;
}

li {
  list-style: square;
}

#footer .email {
  color: gray;
}

/* Markdown Elements Styling */


/* Code Block */

#content code {
  font-family: 'IBM Plex Mono', ui-monospace, monospace;
}

#content pre {
  border-radius: 4px;
  border: 1px solid #ae3;
  color: #333333;
  background-color: #eeffcc;
}

#content code:not(pre > code) {
  border-radius: 4px;
  color: #333333;
  background-color: #eeffcc;
}

/* Project List Entries (Main Index) */

.project {
  border: 1px solid black;
}

.project h2 {
  color: black;
}

/* News Entry */

#content h5 {
  background-color: lightgrey;
}

#content .entry em {
  color: #2C3539;
}

